footer {
    background-color: white;
    height: 342px;
    padding: 250px 4vw 60px 4vw;
}

.footer-itemWrap {
    @include sp {
        position: relative;
        width: 100%;
        padding-bottom: 62px;


        &::before {
            position: absolute;
            content: '';
            top: -84px;
            height: 1px;
            width: 100%;
            border-bottom: 1px solid #7070704D;
        }
    }

    @include pc {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        position: relative;
        width: 100%;
        padding-bottom: 62px;


        &::before {
            position: absolute;
            content: '';
            top: -84px;
            height: 1px;
            width: 100%;
            border-bottom: 1px solid #7070704D;
        }
    }



    footer .footer-itemWrap .footer-item {

        display: flex;
        align-items: center;

    }

}

.footer-item__title {
    margin-right: 25px;
}

footer .footer-itemWrap .footer-item__title a {
    font-size: 3.2rem;
    line-height: 1;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #7070704D;
}

.footer-item {
    display: flex;
}

button#reserve {
    @include sp {
        text-align: center;
        align-items: center;
        display: block;
        margin: 30px auto;
        padding: 10px 40px;
        color: #707070;
        background-color: #FFFFFF;
        font-size: 1.8rem;
    }
}